:root {
	--text-color: #000022;
	--game-color: #de3c4b;
	--secondary-color: #297373;
	background-color: #f0f0f0;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("/fonts/roboto-slab-v24-latin-regular.woff2") format("woff2"),
		url("/fonts/roboto-slab-v24-latin-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("/fonts/roboto-slab-v24-latin-700.woff2") format("woff2"),
		url("/fonts/roboto-slab-v24-latin-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	border: 3px solid var(--text-color);
	margin: 10px 0 50px 0;
}

.grid-item {
	background-color: var(--game-color);
	outline: 2px dashed var(--text-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	font-size: 1.5rem;
	cursor: pointer;
	font-family: "Roboto Slab";
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
}

.title img {
	height: 90px;
	margin-left: 40px;
	rotate: 30deg;
}

h1 {
	color: var(--text-color);
	font-size: 4rem;
	font-family: "Roboto Slab";
	font-size: 3rem;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	font-family: "Roboto Slab";
}

button {
	width: 300px;
	background-color: var(--secondary-color);
	border: 3px solid var(--text-color);
	font-family: "Roboto Slab";
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
body > footer {
	margin-top: auto;
	background-color: #d7d7d7;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
}
